In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\user\\.spyder-py3\\sales_data.csv")

In [2]:
print(df.corr())

                          Account number  Quantity  Unit price  Ext price
                1.000000       -0.161962 -0.113047    0.729789   0.472521
Account number -0.161962        1.000000 -0.015114    0.538826   0.297945
Quantity       -0.113047       -0.015114  1.000000    0.018479   0.720370
Unit price      0.729789        0.538826  0.018479    1.000000   0.689376
Ext price       0.472521        0.297945  0.720370    0.689376   1.000000

In [3]:
print(df.describe())

                 Account number  Quantity  Unit price    Ext price
count  5.000000        5.000000   5.00000     5.00000     5.000000
mean   2.000000   640267.600000  13.40000    60.91600   818.772000
std    1.581139   226010.674697   5.59464    30.19767   610.737956
min    0.000000   258369.000000   5.00000    24.16000   289.920000
25%    1.000000   654987.000000  12.00000    44.48000   413.400000
50%    2.000000   693471.000000  13.00000    53.62000   578.240000
75%    3.000000   741852.000000  18.00000    82.68000  1018.780000
max    4.000000   852659.000000  19.00000    99.64000  1793.520000

In [4]:
print(df.dtypes)

                    int64
Account number      int64
Name               object
Sku                object
Category           object
Quantity            int64
Unit price        float64
Ext price         float64
dtype: object

In [5]:
print(df[['Name','Ext price']])

                Name  Ext price
0        Carroll PLC     578.24
1  Heidenreich-Bosco    1018.78
2            Kerluke     289.92
3      Waters-Walker     413.40
4      Waelchi-Fahey    1793.52