In [1]:
import pandas as pd
import numpy as np

stu1 = [68,74,85,94]
stu2 = [78,98,78,84]
stu3 = [89,91,79,88]
stu4 = [68,86,86,95]

marks = np.array([stu1,stu2,stu3,stu4]).reshape(4,4)
Student_Marks = pd.DataFrame(marks,index=[np.arange(1,5)],columns=['sub1','sub2','sub3','sub4'])
print(Student_Marks)

   sub1  sub2  sub3  sub4
1    68    74    85    94
2    78    98    78    84
3    89    91    79    88
4    68    86    86    95

In [2]:
print("Students highest marks")
print(Student_Marks.T.max())

Students highest marks
1    94
2    98
3    91
4    95
dtype: int32

In [3]:
Student_Marks['Total'] = Student_Marks['sub1']+Student_Marks['sub2']+Student_Marks['sub3']+Student_Marks['sub4']
print(Student_Marks)

print("The roll number of topper is",Student_Marks['Total'].idxmax()[0],"and his total marks is",Student_Marks['Total'].max())

   sub1  sub2  sub3  sub4  Total
1    68    74    85    94    321
2    78    98    78    84    338
3    89    91    79    88    347
4    68    86    86    95    335
The roll number of topper is 3 and his total marks is 347

In [4]:
print("student 1 sorted marks",sorted(stu1))
print("student 2 sorted marks",sorted(stu2))
print("student 3 sorted marks",sorted(stu3))
print("student 4 sorted marks",sorted(stu4))

student 1 sorted marks [68, 74, 85, 94]
student 2 sorted marks [78, 78, 84, 98]
student 3 sorted marks [79, 88, 89, 91]
student 4 sorted marks [68, 86, 86, 95]

In [5]:
Student_Marks.loc[5] = [79,75,82,94,sum([79,75,82,94])]
Student_Marks.loc[6] = [61,83,73,99,sum([61,83,73,99])]
print(Student_Marks)

      sub1  sub2  sub3  sub4  Total
(1,)    68    74    85    94    321
(2,)    78    98    78    84    338
(3,)    89    91    79    88    347
(4,)    68    86    86    95    335
5       79    75    82    94    330
6       61    83    73    99    316